Repository armbian/documentation, pull requests merged in 2025-07, with the labels that each got.

#773 Add CPUTHREADS Build Switch
  docs/Developer-Guide_Build-Switches.md
Labels: Needs review, size/small, Ready to merge

#786 Move project structure from README.md
  docs/Developer-Guide_Overview.md
Labels: Needs review, size/medium

#788 Change logo and modernize main README.md
  README.md
  docs/images/logo-small.png
  docs/index.md
  mkdocs.yml
  overrides/main.html
Labels: Needs review, size/medium, Ready to merge
