Repository armbian/documentation, pull requests merged in 2025-06, with the labels that each got.

#760 Update documentation to last discussed state
  docs/User-Guide_Advanced-Configuration.md
  docs/User-Guide_Advanced-Features.md
  docs/User-Guide_Configuration.md
  docs/User-Guide_Getting-Started.md
  docs/index.md
  mkdocs.yml
Labels: Needs review, size/large, Ready to merge

#763 Remove one ' too many
  docs/User-Guide_Advanced-Configuration.md
Labels: Needs review, size/small

#764 Add instructions for adding a device
  docs/WifiPerformance.md
Labels: Needs review, size/medium

#767 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#769 A2 cards are good
  docs/User-Guide_Getting-Started.md
Labels: Needs review, size/small
