Repository armbian/documentation, pull requests merged in 2025-08, with the labels that each got.

#791 Getting Started: Add rkdeveloptool guide
  docs/User-Guide_Getting-Started.md
Labels: Needs review, 08, size/medium

#794 Restore question about userspace upgrades
  docs/User-Guide_FAQ.md
Labels: Needs review, size/small

#770 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#798 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#804 Remove duplicate configuration entry
  mkdocs.yml
Labels: Needs review, size/small

#808 fix staging anchor in "board suppport rules"
  docs/User-Guide_Board-Support-Rules.md
Labels: Needs review, size/small
