Repository armbian/documentation, pull requests merged in 2025-05, with the labels that each got.

#710 Improve software intro
  docs/User-Guide_Armbian-Software.md
Labels: Needs review, size/medium, Ready to merge

#724 Add a link to GitHub action covering the testings
  docs/WifiPerformance.md
Labels: Needs review, size/small, Ready to merge

#723 Update User-Guide_Armbian-Config.md
  docs/User-Guide_Armbian-Config.md
Labels: Needs review, size/small, Ready to merge

#725 Change link from Netbox website to our documentation
  docs/WifiPerformance.md
Labels: Needs review, size/small

#728 Include documentation for DISABLE_KERNEL_PATCHES
  docs/Developer-Guide_Build-Switches.md
Labels: Needs review, size/small, Ready to merge

#729 be more specific about disabling kernel patches
  docs/Developer-Guide_Build-Switches.md
Labels: Needs review, size/small, Ready to merge

#738 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#740 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large, Ready to merge

#741 Update requirements - set default OS as Noble
  docs/Developer-Guide_Build-Preparation.md
Labels: Needs review, size/small, Ready to merge

#742 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large, Ready to merge

#744 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#745 add `SHARE_LOG` switch
  docs/Developer-Guide_Build-Switches.md
Labels: Needs review, size/small, Ready to merge

#746 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#747 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#749 add two more examples for adding new hw
  docs/Developer-Guide_Adding-Board-Family.md
Labels: Needs review, size/small, Ready to merge

#748 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#751 Add V25.5
  docs/Release_Changelog.md
Labels: Needs review, size/medium, Ready to merge

#753 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large
