Repository armbian/documentation, pull requests merged in 2025-04, with the labels that each got.

#666 Add various GH actions and enable upload to new WEB server
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/clean-workflow-logs.yml
  .github/workflows/labels-from-yml.yml
  .github/workflows/pdf-at-pr.yaml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/release.yaml
  docs/User-Guide_Armbian-Config/Localisation.md
  docs/User-Guide_Armbian-Config/Network.md
  docs/User-Guide_Armbian-Config/System.md
  docs/images/BNS001.png
  docs/images/LO001.png
  docs/images/SY001.png
  docs/images/SY005.png
  docs/images/SY010.png
  docs/images/SY101.png
  docs/images/SY201.png
  docs/images/SY202.png
  docs/images/SY204.png
  docs/images/SY210.png
  docs/images/UNAT02.png
  docs/images/VNS001.png
  docs/images/WG002.png
  docs/images/WG003.png
  docs/images/WG004.png
Labels: ready for review

#669 Several rewording
  docs/Developer-Guide_User-Configurations.md
Labels: Needs review, size/small

#672 Improve text on README and fix broken badge
  README.md
Labels: Needs review, 05, size/small, Ready to merge

#675 `Automatic` wireless performance tests
  docs/WifiPerformance.md
Labels: Needs review, size/large

#676 Adjust edit button to point to main branch
  mkdocs.yml
Labels: 05, size/small, Ready to merge

#677 Adjust edit button to point to main branch
  mkdocs.yml
Labels: Needs review, size/small

#680 Add SECTOR_SIZE info
  docs/Developer-Guide_Build-Switches.md
Labels: Needs review, size/small, Ready to merge

#678 deprecate lib.config
  docs/Developer-Guide_User-Configurations.md
Labels: Needs review, size/small

#688 adjust requirements
  docs/Developer-Guide_Build-Preparation.md
Labels: Needs review, size/small, Ready to merge

#697 Make CSS responsive ready
  docs/css/armbian-extra.css
Labels: Needs review, size/small, Ready to merge

#700 Add finance to the SW menu
  mkdocs.yml
Labels: Needs review, size/small

#703 Update mkdocs.yml
  mkdocs.yml
Labels: Needs review, size/small

#708 Add banner to wifi testing page
  docs/WifiPerformance.md
  docs/images/support-autotest.png
Labels: Needs review, Ready to merge
